DB_URL=example_value
DB_USER=example_value
DB_PASSWORD=example_value
DB_NAME=example_value

GRAFANA_PASSWORD=example_value

GOOGLE_CLIENT_ID=example_value
GOOGLE_CLIENT_SECRET=example_value

JWT_SECRET=example_value