<mat-sidenav-container class="shell">
  <mat-sidenav
    [mode]="sidenavMode()"
    [opened]="sidenavOpened()"
    (openedChange)="sidenavOpened.set($event)"
    class="shell-sidenav"
  >
    <div class="shell-brand">
      <mat-icon aria-hidden="true">kitchen</mat-icon>
      <span>PantryBase</span>
    </div>
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="shell-toolbar-title">PantryBase</span>
    </mat-toolbar>
    <main class="shell-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
