# Build/cache
**/target/
**/node_modules/
.angular/

# IDE / VCS
.git/
.idea/
*.iml
.vscode/

# Secretos (NUNCA dentro de la imagen)
**/.env
**/.env.*

# No necesarios para el build Maven
frontend/
infra/
docs/
.github/